/*general*/
{
    margin: 0;
    padding: 0;

}

body
{
    font-family: Arial,sans-serif;
    font-size: 15px;
}


/*header*/
header 
{
    height: 120px;
}

header h1
{
    float: left;
    margin-top: 32px;
}
header nav
{
    float: left;
    margin-top: 50px;
}

header nav 
{
       float: right;
    margin-top: 35px;
}

header nav ul li
{
       float: left;
    display: inline-block; 
}

header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px
}


/*information élève*/

input.information {
  outline:0;
  font-size:14px;
  width:250px;
}   
label.formulaire {
 display: block;
    width: 150px;
    float: left;

}
input.information:valid {
  border:3px solid #0a0;
}
input.information:invalid {
  border:3px solid #a00;
}
input.information:valid + span:before  {
  content: "\f00c";
  font-family: "FontAwesome";
  color:#0a0;
  font-size: 1.5em;
}   
input.information:invalid + span:before  {
  content: "\f00d";
  font-family: "FontAwesome";
  color:#a00;
  font-size: 1.5em;
}



 h2 {
    text-align: center;
}


/*tableaux*/

table {
border-collapse:collapse;
width:100%;
max-width:700px;
min-width:400px;
text-align:center;
}

caption {
caption-side:bottom;
font-weight:bold;
font-style:italic;
margin:4px;
}

table,th, td {
border: 1px solid gray;
}

th, td {
height: 24px;
padding:4px;
vertical-align:middle;
}

th {
background-image:url(table-shaded.png);
}

.rowtitle {
background: #9CF;
font-weight:bold;
}

